body{
  min-height: 105vh;
}
header{
  height: 75px;
  background-color: #0A174E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  color: #F5D042;
}
.logo{
  font-size: 25px;
  cursor: pointer;
}
.nav-links{
  display: inline-flex;
  gap: 20px;
}
.nav-links a{
  color: #F5D042;
  text-decoration: none;
  font-size: 20px;
}
.nav-links a:hover{
  color: #79661c;
  cursor: pointer;
}
.hero{
  font-family: monospace;
  padding: 80px 200px;
  height: 30vh;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 0.7fr;
}
.left{
  text-align: left;
  h1{
    font-size: 50px;
  }
  h2{
    font-size: 21px;
  }
}
.right{
  display: flex;
  justify-content:end;
  padding-right: 100px;
  align-items: center;
  img{
    width: 250px;  
  }
}
.query-section{
  min-height: 60vh;
  background-color: #0A174E;
  color: #F5D042;
  padding: 80px 200px;
  display: flex;
  justify-content: center;
}
.query-input{ 
  padding: 20px 40px;
  background-color: #F5D042;
  color: #0A174E;
  width: 800px;
  height: 290px;
  border-radius: 8px;
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: #0A174E;  
}

input[type="text"], select {
  padding: 10px;
  font-size: 1.4rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}
.radio-container label{
  margin-right: 20px;
}
input[type="radio"] {
  margin-right: 5px;
}
