/* Submit this file once you are done */

.wall {
  /* TODO: Add code here */
  background-color: rgb(167, 213, 255);
  border: 2px red dashed;
  padding: 25px 0;
}

.wall .row:nth-child(1) {
  /* TODO: Add code here */
  background-color: rgb(50, 90, 120);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wall .row:nth-child(2) {
  /* TODO: Add code here */
  margin-top: 25px;
  background-color: rgb(50, 90, 120);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wall .row:nth-child(3) {
  /* TODO: Add code here */
  margin-top: 25px;
  background-color: rgb(50, 90, 120);
  display: flex;
  justify-content: center;
  align-items: center;
}
