$primary-background: rgb(14, 136, 89);
$secondary-background: rgb(8, 92, 60);
$header-background: rgb(15, 59, 53);
$modal-background: rgba(0, 0, 0, 0.4);
$modal-content-background: #fefefe;
$modal-close-color: #aaa;
$hover-opacity: 0.7;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 110vh;
}

header {
    background-color: $header-background;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 40px;
    color: white;
    box-sizing: border-box;

    &.small {
        height: 35px;

        #logo {
            font-size: 20px;
        }

        .right-side {
            font-size: 15px;
        }
    }

    #logo {
        font-size: 25px;
    }

    .right-side {
        display: flex;
        font-size: 20px;
        gap: 15px;

        a {
            color: white;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

.section {
    min-height: 400px;
    padding: 50px 10%;
}

header .active-section-link {
    text-decoration: underline;
}

#welcome-section {
    background-color: $primary-background;

    #welcome-text {
        animation: welcomeAnim 2s;
        text-align: center;
        color: white;
        font-size: 40px;
    }

    @keyframes welcomeAnim {
        from {
            transform: translateY(-50px);
        }
        to {
            transform: translateY(0);
        }
    }

    #site-description {
        color: white;
        font-size: 28px;
        text-align: center;
    }
}

#scenic-section {
    background-image: url("../assets/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    #scenic-title {
        color: black;
        font-size: 35px;
        text-align: center;
    }
}

#fun-fact-text {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

#social-section {
    background-color: $primary-background;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;

        &:hover {
            opacity: $hover-opacity;
        }

        &.fa-facebook {
            background: #3B5998;
            color: white;
        }

        &.fa-instagram {
            background: #125688;
            color: white;
        }

        &.fa-rss {
            background: #ff6600;
            color: white;
        }
    }
}


#carousel-section {
    padding: 0;
    background-color: $primary-background;
}

.slider-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 5px 10px -3px hsla(0, 0, 0, 0.25);
    width: 100%;
    height: 700px;

    img {
        flex: 1 0 100%;
        scroll-snap-align: start;
        object-fit: cover;
        height: 700px;
    }
}

.arrow {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    font-size: 2em;
    position: absolute;
    padding: 10px;
    border-radius: 50%;
    z-index: 1;

    &.left {
        left: 10px;
    }

    &.right {
        right: 10px;
    }
}

.carousel-image-description {
    margin: 0;
    padding: 40px 10%;
    text-align: center;
    font-size: 28px;
    color: white;
}
#images-section {
    background-color: $primary-background;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding-bottom: 100px;
    background-color: $secondary-background;
}
@media screen and (max-width: 1000px) {
    #images-section{
        grid-template-columns: 1fr;
    }
  }
.image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    background-color: white;
}

.image-item:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.image-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.flower-description {
    text-align: center;
    padding: 10px;
    font-size: 25px;
    color: #333;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: -10%;
    width: 100%;
    height: 100%;
    background-color: $modal-background;
    overflow: auto;
}

.modal-content {
    background-color: $modal-content-background;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    max-height: 500px;

}

.close {
    color: $modal-close-color;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;

    &:hover,
    &:focus {
        color: black;
        text-decoration: none;
    }
}
#pollinators-section{
    background-color: $secondary-background;
    color: white;
}
#pollinator-title{
    font-size: 40px;
    text-align: center;
}
video{
    display: block;
    margin: 40px auto;
    width: 70%;
    max-width: 800px;
}
#pollinator-text{
    font-size: 28px;
    text-align: center;
}
#social-section{
    display: block;
    color: white;
}
#social-title {
    font-size: 40px;
    text-align: center;
}
.media-links{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;    
}
.media-links .column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.media-links a{
    color: black;
    text-decoration: none;
    font-size: 28px;
    text-align: center;
}
.media-links .column svg{
    width: 100px;
}
.media-links .social-item:hover{
    filter: invert(20%) sepia(93%) saturate(152%) hue-rotate(87deg) brightness(119%) contrast(119%);
    cursor: pointer;
}
#facebook-social{
    padding-top: 7px;
}
footer {
    color: white;
    text-align: center;
    background-color: black;
    height: 100px;
    padding: 20px;
    font-size: 20px;
}
